<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sd="http://www.thymeleaf.org/spring-data" lang="ko">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>주소록</title>
    <style>
        .sorted-desc::after, .sorted-asc::after {
            float: right;
        }

        .sorted-desc::after{
            content:"\25BC";
        }

        .sorted-asc::after{
            content: "\25B2";
        }
    </style>
    <th:block th:replace="resources :: resources"/>
</head>
<body>
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">기술과제</a>
    <input class="form-control form-control-dark w-100" type="text" placeholder="검색" aria-label="Search">
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" th:href="@{/logout}">로그아웃</a>
        </li>
    </ul>
</nav>
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper">
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row manage-panel">
                    <div class="col-sm-12 col-md-8">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">주소록</h4>
                                <div class="mb-4">
                                    <form th:action="@{/list}" method="GET" class="d-flex" th:object="${filter}">
                                        <input th:if="${param.sort}" type="hidden" name="sort" th:value="${param.sort[0]}"/>
                                        <input th:if="${param.size}" type="hidden" name="size" th:value="${param.size[0]}"/>
                                        <div class="flex-fill mr-1">
                                            <select th:field="*{FSearchType}" class="form-control form-control-sm">
                                                <option th:each="i : ${searchTypes}" th:value="${i}" th:text="${i.getTitle()}"></option>
                                            </select>
                                        </div>
                                        <input type="text" th:field="*{FKeyword}" class="form-control form-control-sm flex-fill mr-1"/>
                                        <button type="submit" class="btn btn-primary btn-xs flex-fill">
                                            <i class="fa fa-search"></i>검색
                                        </button>
                                    </form>
                                </div>

                                <form action="" method="post" class="data-list" th:attr="data-url=@{/}">
                                    <div class="mb-2 d-flex justify-content-end">
                                        <div class="dropdown mr-1">
                                            <button class="btn btn-success btn-sm dropdown-toggle" type="button" id="excelDropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-file-excel-o"></i>엑셀
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="excelDropdownMenuButton">
                                                <a class="dropdown-item btn-action btn-require-selected disabled" href="javascript:" aria-disabled="true" tabindex="-1" data-action="excel" data-excel-option="select">선택된 데이터 받기</a>
                                                <a class="dropdown-item btn-action" href="javascript:" data-action="excel" data-excel-option="filter">필터링 데이터 받기</a>
                                                <a class="dropdown-item btn-action" href="javascript:" data-action="excel" data-excel-option="all">전체 데이터 받기</a>
                                            </div>
                                        </div>
                                        <button type="button" class="btn btn-primary btn-sm btn-action btn-require-selected disabled mr-1" disabled="disabled" data-action="delete">
                                            <i class="fa fa-trash"></i>삭제
                                        </button>
                                        <a th:href="@{/list}" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i>추가</a>
                                        <a th:href="@{/duplicate} + ${queryString}" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i>중복번호확인</a>
                                    </div>

                                    <div class="mb-1">
                                        <span sd:page-size-selector="javascript"></span>
                                    </div>

                                    <div class="table-responsive">
                                        <table class="table table-bordered table-center-all table-md">
                                            <thead>
                                            <tr>
                                                <th style="width: 32px">
                                                    <div class="form-check my-0">
                                                        <label class="form-check-label ml-3">
                                                            <input type="checkbox" class="form-check-input form-check-all"/>
                                                        </label>
                                                    </div>
                                                </th>
                                                <th><a sd:pagination-sort="name">이름</a></th>
                                                <th><a sd:pagination-sort="tel">전화번호</a></th>
                                                <th><a sd:pagination-sort="email">이메일</a></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="i : ${contacts}">
                                                <td>
                                                    <div class="form-check my-0">
                                                        <label class="form-check-label ml-3">
                                                            <input type="checkbox" class="form-check-input" name="ids" th:value="${i.id}"/>
                                                        </label>
                                                    </div>
                                                </td>
                                                <td><a th:href="@{/list/{id}(id=${i.id})} + ${queryString}" th:text="${i.name}"></a></td>
                                                <td><a th:href="@{/list/{id}(id=${i.id})} + ${queryString}" th:text="${i.tel}"></a></td>
                                                <td><a th:href="@{/list/{id}(id=${i.id})} + ${queryString}" th:text="${i.email}"></a></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="pt-3">
                                        <nav class="d-flex justify-content-center">
                                            <ul class="pagination" sd:pagination="full">
                                                <li class="disabled"><a href="javascript:" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                                                <li class="active"><a href="javascript:">1 <span class="sr-only">(current)</span></a></li>
                                            </ul>
                                        </nav>
                                        <div class="text-right">
                                            <div sd:pagination-summary="">info</div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">주소록 관리</h4>
                                <form th:action="@{/save}" method="POST" th:object="${contact}" class="forms-sample">
                                    <input type="hidden" th:field="*{id}"/>

                                    <div class="form-group">
                                        <label>이름<i class="fa fa-asterisk required-icon"></i></label>
                                        <input type="text" th:field="*{name}" class="form-control" required="required" autocomplete="off" />
                                        <span th:errors="*{name}" class="field-error text-warning"></span>
                                    </div>

                                    <div class="form-group">
                                        <label>전화번호<i class="fa fa-asterisk required-icon"></i></label>
                                        <input type="tel" th:field="*{tel}" class="form-control" autocomplete="off" />
                                        <span th:errors="*{tel}" class="field-error text-warning"></span>
                                    </div>

                                    <div class="form-group">
                                        <label>이메일<i class="fa fa-asterisk required-icon"></i></label>
                                        <input type="email" th:field="*{email}" class="form-control" autocomplete="off" />
                                        <span th:errors="*{email}" class="field-error text-warning"></span>
                                    </div>

                                    <div class="form-group">
                                        <label th:for="memo">설명</label>
                                        <textarea th:field="*{memo}" class="form-control" rows="3" placeholder="100자 이내로 입력해 주세요."></textarea>
                                        <span th:errors="*{memo}" class="field-error text-warning"></span>
                                    </div>

                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary btn-md mr-2" th:text="*{id != null} ? '수정' : '추가'"></button>
                                        <a th:href="@{/list} + ${queryString}" class="btn btn-light btn-md">취소</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="scripts :: scripts"/>
</body>
</html>
