<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sd="http://www.thymeleaf.org/spring-data" lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>연락처</title>
    <th:block th:replace="resources :: resources"/>
</head>
<body class="hold-transition layout-top-nav">
<div class="wrapper">

    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
        <div class="container">
            <a th:href="@{/contacts/list}" class="navbar-brand">
                <span class="brand-text font-weight-light">주소록 앱</span>
            </a>

            <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse order-3" id="navbarCollapse">
                <!-- Left navbar links -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a th:href="@{/contacts/list}" class="nav-link active">주소록 관리</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a id="dropdownSubMenu2" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">중복 데이터 조회</a>
                        <ul aria-labelledby="dropdownSubMenu2" class="dropdown-menu border-0 shadow">
                            <li><a th:href="@{/contacts/duplicate} + '?type=TEL'" class="dropdown-item">전화번호 </a></li>
                            <li><a th:href="@{/contacts/duplicate} + '?type=EMAIL'" class="dropdown-item">이메일 </a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/cgroups/list}" class="nav-link">그룹 관리</a>
                    </li>
                </ul>
            </div>

            <!-- Right navbar links -->
            <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
                <li class="nav-item dropdown">
                    <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle" th:text="${#authentication.principal.name}"></a>
                    <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
                        <li><a th:href="@{/logout}" class="dropdown-item">로그아웃 </a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <!-- /.navbar -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container">
                <div class="row">
                    <div class="col-12">

                    </div>
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-8">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title"><span sd:page-size-selector="javascript"></span></h3>

                                <div class="card-tools">
                                    <form th:action="@{/contacts/list}" method="GET" class="d-flex" th:object="${filter}">
                                        <input th:if="${param.sort}" type="hidden" name="sort" th:value="${param.sort[0]}"/>
                                        <input th:if="${param.size}" type="hidden" name="size" th:value="${param.size[0]}"/>

                                        <div class="input-group input-group-sm mr-1" style="width: 150px;">
                                            <select th:field="*{FSearchType}" class="form-control form-control-sm">
                                                <option th:each="i : ${searchTypes}" th:value="${i}" th:text="${i.getTitle()}"></option>
                                            </select>
                                        </div>
                                        <div class="input-group input-group-sm" style="width: 150px;">
                                            <input type="text" th:field="*{FKeyword}" class="form-control float-right">

                                            <div class="input-group-append">
                                                <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- /.card-header -->
                            <form action="" method="POST" class="data-list" th:attr="data-url=@{/contacts/}">
                                <div class="card-body table-responsive p-0">
                                    <div class="mb-2 d-flex justify-content-end">
                                        <div class="dropdown mr-1">
                                            <button class="btn btn-success btn-sm dropdown-toggle" type="button" id="excelDropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-file-excel-o"></i>엑셀
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="excelDropdownMenuButton">
                                                <a class="dropdown-item btn-action btn-require-selected disabled" href="javascript:" aria-disabled="true" tabindex="-1" data-action="excel" data-excel-option="select">선택된 데이터 받기</a>
                                                <a class="dropdown-item btn-action" href="javascript:" data-action="excel" data-excel-option="filter">필터링 데이터 받기</a>
                                                <a class="dropdown-item btn-action" href="javascript:" data-action="excel" data-excel-option="all">전체 데이터 받기</a>
                                            </div>
                                        </div>
                                        <button type="button" class="btn btn-primary btn-sm btn-action btn-require-selected disabled mr-1" disabled="disabled" data-action="delete">
                                            <i class="fa fa-trash"></i>삭제
                                        </button>
                                        <a th:href="@{/contacts/list}" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i>추가</a>
                                    </div>
                                    <table class="table table-sm table-hover text-nowrap">
                                        <thead>
                                        <tr>
                                            <th style="width: 32px">
                                                <div class="form-check">
                                                    <input class="form-check-input position-static form-check-all" type="checkbox" aria-label="...">
                                                </div>
                                            </th>
                                            <th><a sd:pagination-sort="name">이름</a></th>
                                            <th><a sd:pagination-sort="tel">전화번호</a></th>
                                            <th><a sd:pagination-sort="email">이메일</a></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="i : ${contacts}">
                                            <td>
                                                <div class="form-check">
                                                    <input class="form-check-input position-static" type="checkbox" name="ids" th:value="${i.id}" aria-label="...">
                                                </div>
                                            </td>
                                            <td><a th:href="@{/contacts/list/{id}(id=${i.id})} + ${queryString}" th:text="${i.name}"></a></td>
                                            <td><a th:href="@{/contacts/list/{id}(id=${i.id})} + ${queryString}" th:text="${i.tel}"></a></td>
                                            <td><a th:href="@{/contacts/list/{id}(id=${i.id})} + ${queryString}" th:text="${i.email}"></a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </form>
                            <div class="card-footer clearfix">
                                <div class="float-left">
                                    <div sd:pagination-summary="">info</div>
                                </div>
                                <ul class="pagination pagination-sm m-0 float-right" sd:pagination="full">
                                    <li class="disabled"><a href="javascript:" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                                    <li class="active"><a href="javascript:">1 <span class="sr-only">(current)</span></a></li>
                                </ul>
                            </div>

                            <!--                            <div class="overlay dark">-->
                            <!--                                <i class="fas fa-2x fa-sync-alt fa-spin"></i>-->
                            <!--                            </div>-->
                        </div>
                        <!-- /.card -->
                    </div>

                    <div class="col-4">
                        <div class="card card-primary">
                            <!--                            <div class="card-header">-->
                            <!--                                <h3 class="card-title">관리</h3>-->
                            <!--                            </div>-->
                            <!-- /.card-header -->
                            <!-- form start -->
                            <form th:action="@{/contacts/save}" method="POST" th:object="${contact}" role="form">
                                <div class="card-body">
                                    <input type="hidden" th:field="*{id}"/>

                                    <div class="form-group">
                                        <label th:for="name">이름</label>
                                        <input type="text" th:field="*{name}" class="form-control" minlength="2" maxlength="16" required="required" autocomplete="off" />
                                        <span th:errors="*{name}" class="field-error text-warning"></span>
                                    </div>

                                    <div class="form-group">
                                        <label th:for="tel">전화번호</label>
                                        <input type="tel" th:field="*{tel}" class="form-control" maxlength="17" autocomplete="off" />
                                        <span th:errors="*{tel}" class="field-error text-warning"></span>
                                    </div>

                                    <div class="form-group">
                                        <label th:for="email">이메일</label>
                                        <input type="email" th:field="*{email}" class="form-control" maxlength="50" autocomplete="off" />
                                        <span th:errors="*{email}" class="field-error text-warning"></span>
                                    </div>

                                    <div class="form-group">
                                        <label th:for="memo">메모</label>
                                        <textarea th:field="*{memo}" class="form-control" rows="3" placeholder="125자 이내로 입력해 주세요."></textarea>
                                        <span th:errors="*{memo}" class="field-error text-warning"></span>
                                    </div>

                                    <div class="form-group">
                                        <label th:for="cGroup">그룹</label>
                                        <select th:field="*{cGroup.id}" class="form-control">
                                            <option th:each="g : ${cGroups}" th:value="${g.id}"
                                                    th:text="${g.name}"></option>
                                        </select>
                                        <span th:errors="*{cGroup}" class="field-error text-warning"></span>
                                    </div>
                                </div>
                                <!-- /.card-body -->

                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary" th:text="*{id != null} ? '수정' : '추가'"></button>
                                </div>
                            </form>
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
<!--    <footer class="main-footer">-->
<!--        &lt;!&ndash; To the right &ndash;&gt;-->
<!--        <div class="float-right d-none d-sm-inline">-->
<!--            Anything you want-->
<!--        </div>-->
<!--        &lt;!&ndash; Default to the left &ndash;&gt;-->
<!--        <strong>Copyright &copy; 2014-2019 <a href="https://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.-->
<!--    </footer>-->
</div>
<!-- ./wrapper -->

<th:block th:replace="scripts :: scripts"/>
</body>
</html>
