<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>로그인</title>
    <th:block th:replace="resources :: resources"/>
</head>
<body class="hold-transition login-page">
<div class="login-box">
    <div class="login-logo">
        <a th:href="@{/}">주소록 앱</a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">

            <form th:action="@{/login/process}" method="post">
                <div class="input-group mb-3">
                    <input type="text" id="username" name="username" class="form-control" placeholder="아이디"
                           minlength="4" maxlength="16" required>
                </div>
                <div class="input-group mb-3">
                    <input type="password" id="password" name="password" class="form-control" placeholder="비밀번호"
                           minlength="8" maxlength="16" required>
                </div>
                <div class="row">
                    <div class="col-8">
                    </div>
                    <!-- /.col -->
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary btn-block">로그인</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>

            <div class="social-auth-links text-center mb-3">
                <p><span th:if="${error}" th:text="${error}"></span></p>
            </div>

            <p class="mb-0">
                <a th:href="@{/join}" class="text-center">회원가입</a>
            </p>
        </div>
        <!-- /.login-card-body -->
    </div>
</div>
<!-- /.login-box -->

<th:block th:replace="scripts :: scripts"/>
</body>
</html>
