<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
<th:block th:fragment="scripts">
    <script th:if="${alertMessage}" th:inline="javascript">
        /*[+
        alert([[${alertMessage}]]);
        +]*/
    </script>
    <script th:src="@{/statics/jquery/jquery.min.js}"></script>
    <script th:src="@{/statics/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/statics/adminlte/js/adminlte.min.js}"></script>

    <script th:inline="javascript">
        /*<![CDATA[*/
        $('.btn-action').on('click', function () {
            var actionType = $(this).data('action');

            if ($(this).hasClass('disabled') || actionType == null) {
                return true;
            }

            var parentForm = $(this).closest('form');
            var actionURL = parentForm.data('url');
            var option = $(this).data('excel-option');

            if (actionType === 'excel') {
                exportExcel(actionURL + actionType, option);
            } else if (actionType === 'delete') {
                if (confirm('삭제된 데이터는 복구되지 않습니다.\n삭제하시겠습니까?')) {
                    // 삭제 불가능한 데이터는 보내지 않는다.
                    $('input.not-removable').prop('disabled', true);
                    parentForm.attr('action', actionURL + actionType);
                    parentForm.submit();
                }
            } else if (actionType === 'upload') {
                // $('#excelUploadFile').trigger('click');
            }
        });

        // Table의 전체선택 체크박스에 체크한 경우 자동 처리
        $('.form-check-all').change(function () {
            var parentTable = $(this).parents('table');
            var checkedVal = $(this).prop('checked');

            parentTable.find('tbody').find('.form-check-input:not(.not-all)').prop('checked', checkedVal);
        });

        /* 리스트 체크항목이 있는 지 여부를 검사 */
        $('.data-list').on('change', 'input[type="checkbox"]:not(.not-all)', function () {
            var checkedCnt = $('.data-list').find('input[type="checkbox"]:not(.form-check-all):not(.not-all):checked').length;
            var toggle = checkedCnt === 0;
            $('.data-list').find('.btn-require-selected').prop('disabled', toggle).toggleClass('disabled', toggle);
        });

        /* Form 전송 시 파라미터가 없는 경우를 대비하기 위한 예외 처리 코드 */
        $('.data-list').submit(function () {
            if ($(this).find('input[type="checkbox"]:not(.form-check-all):not(.not-all):checked').length === 0) {
                return false;
            }
        });
        /*]]>*/
    </script>
</th:block>
</body>
</html>
